/* Style By portal.aut.ac.ir */
HTML {
  direction: rtl;
}

@font-face {
  font-family: 'IRANSansXV';
  src: url("../fonts/IRANSansXV.woff") format("woff-variations"), url("../fonts/IRANSansXV.woff") format("woff");
  font-weight: 100 900;
  font-display: fallback
}

@font-face {
  font-family: IRANSansX;
  src: url("../fonts/IRANSansX-Regular.woff") format("woff")
}

@font-face {
  font-family: IRANSansX;
  src: url("../fonts/IRANSansX-Bold.woff") format("woff");
  font-weight: 700
}

BODY {
  font-family: IRANSansXV, IRANSansX, Tahoma !important;
  background-color: #1D2B53;
  /*font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial;*/
  font-size: 10pt;
  color: black;
  padding: 0px 0px;
  margin: 0px 0px;
}

TABLE {
  /*font-family: Nazli, Roya, Koodak, Terafik, Homa, Tahoma, Arial;*/
  width: 100%;
  font-size: 1rem;
  background: white;
  white-space: nowrap;
  direction: rtl;
}

/* weekly table --- */
.weektable {
  /*width: 730;*/
  font-size: 0.5rem !important;
  border: 1px solid black;
}

.weekhtr {
  /*
  text-align: right;
  */
}

/*
.weektaer {
}
*/
.weekdayhtc {
  color: black;

  padding: 3px;
  font-weight: bold;
  text-align: center;
  /*
  width: 34px;
  height: 15px;
  */
}

.weekhtc {
  color: black;

  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 0px;
  font-weight: bold;
  text-align: right;
  width: 29px;
  height: 15px;
}

.weektr {
  background-color: #ecf3f8;
}

.weekdaytc {
  vertical-align: middle;
  padding: 10px 10px;
  width: 29px;
  border-right: 1px;
  border-left: 2px solid black;
  border-top: black 1px solid;
  text-align: center;
  font-weight: bold;
}

.weektc {
  vertical-align: top;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: black 2px solid;
  border-right: rgb(134, 127, 127) 1px dotted;
  border-top: black 2px solid;
}

.weekboxoverlaptc {
  background-color: #ff8888;
  vertical-align: top;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px outset black;
}

.weekboxnormaltc {
  background-color: #292626;
  color: white;
  vertical-align: top;
  padding: 5px 3px;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
}

/* End Of Used Style From portal.aut.ac.ir*/

/* New Stuff */

.weekDays-selector input {
  display: none !important;
}

.weekDays-selector input[type="checkbox"]+label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 80px;
  margin-right: 3px;
  margin-top: 10px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type="checkbox"]:checked+label {
  /*background: #2ad705;*/
  background: #0275d8;
  color: #ffffff;
}

.footer {
  background: #6b191c;
  position: absolute;
  left: 0;
  min-width: 1100px;
  margin-top: 60px;
}

#first {
  position: fixed;
  z-index: 2;
}

#second {
  position: fixed;
  z-index: 1;
}

.form-control {
  z-index: 0 !important;
}

#table2 td,
#table2 th {
  font-size: 1.6rem;
  border-top-color: black;
  border-bottom-color: black;
  text-align: center;
}

#table2 {
  border: 1px solid black;
}

.special-border {
  background: #000000;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
}

.smallb {
  padding: 3px !important;
  display: inline-block;
  box-sizing: border-box;
  margin: 1 !important;
  font-size: 1.6rem;
}

#name {
  min-width: 160px;
}

#week {
  height: 98%;
  box-sizing: border-box;
  background-color: #2f2f2f;
  border-radius: 25px;
  font-size: 1rem;
}

.dayy {
  border-radius: 1px !important;
  border: 1px solid white;
}

.input-group-addon {
  color: black !important;
}

.dayw {
  width: 120px;
}

.w0,
.w1,
.w2,
.w3,
.w4,
.w5,
.w6 {
  display: none;
}

.cW1 {
  width: 110px;
  font-weight: bold;
}

input {
  border-radius: 0.2rem !important;
}

.input-group-addon {
  border-radius: 0.25rem !important;
  line-height: 1.75rem;
  color: black !important;
  font-size: 1rem;
}

.wform {
  border-radius: 0.5rem;
  padding: 10px;
  background: #7E2553;
  font-size: 1.5rem;
  border-radius: 0 0 25px 25px;

}

#main-footer {
  background: #7E2553;
}

.footer-border {
  border-top: white 3px solid;
}

.share {
  font-size: 1.5rem;
}